[submodule "Middlewares/FlexibleButton"]
	path = Middlewares/FlexibleButton
	url = https://github.com/murphyzhao/FlexibleButton.git

[submodule "Middlewares/Printf"]
	path = Middlewares/Printf
	url = https://github.com/mpaland/printf.git

[submodule "Middlewares/CmBacktrace"]
	path = Middlewares/CmBacktrace
	url =	https://github.com/armink/CmBacktrace.git
