[submodule "Middlewares/FlexibleButton"]
	path = Middlewares/FlexibleButton
	url = https://github.com/murphyzhao/FlexibleButton.git

[submodule "Middlewares/Printf"]
	path = Middlewares/Printf
	url = https://github.com/mpaland/printf.git

[submodule "Middlewares/CmBacktrace"]
	path = Middlewares/CmBacktrace
	url =	https://github.com/armink/CmBacktrace.git

[submodule "Middlewares/EasyFlash"]
	path = Middlewares/EasyFlash
	url =	https://github.com/armink/EasyFlash.git

[submodule "Middlewares/EasyLogger"]
	path = Middlewares/EasyLogger
	url =	https://github.com/armink/EasyLogger.git
